<section
class="
    flex flex-col items-center justify-center w-full h-screen bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800
  "
>
  <form
    [formGroup]="authForm"
    (ngSubmit)="onSubmit()"
    class="mx-auto flex w-full max-w-lg flex-col rounded-xl border border-border bg-backgroundSecondary p-4 sm:p-20"
  >
    <div class="flex w-full flex-col gap-2 text-center">
      <p class="text-xl">{{ title }}</p>
      <ng-container *ngIf="action === 'signIn'">
        <div class="flex w-full flex-col gap-2">
          <button
            type="button"
            class="btn gap-2 bg-gray-5"
            (click)="signInGoogle()"
          >
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              version="1.1"
              viewBox="0 0 48 48"
              enablebackground="new 0 0 48 48"
              class="h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="#FFC107"
                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
              <path
                fill="#FF3D00"
                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657        C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
              ></path>
              <path
                fill="#4CAF50"
                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36        c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
              ></path>
              <path
                fill="#1976D2"
                d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571
                  c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
            </svg>
            <span>Iniciar sesion con google</span>
          </button>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="action === 'signIn'">
      <div class="divider my-6 text-xs text-content2">o continuar con</div>
    </ng-container>

    <div class="form-group">
      <div class="form-field">
        <label class="form-label">Email</label>

        <input
          placeholder="Type here"
          type="email"
          formControlName="email"
          class="input max-w-full"
        />
        <label class="form-label" *ngIf="hasError('email')!">
          <span
            class="form-label-alt"
            [ngClass]="{ invalid: hasError('email') }"
            >Ingrese un mail valido</span
          >
        </label>
      </div>
      <div class="form-field">
        <label class="form-label">
          <span>Contraseña</span>
        </label>
        <div class="form-control">
          <input
            placeholder="Type here"
            type="password"
            class="input max-w-full"
            formControlName="password"
          />
        </div>
      </div>
      <div class="form-field">
        <div class="form-control justify-between" *ngIf="action == 'signIn'">
          <!-- <div class="flex gap-2">
            <input type="checkbox" class="checkbox" />
            <a href="#">Remember me</a>
          </div> -->
          <label class="form-label">
            <a
              class="link link-underline-hover link-primary text-sm"
              routerLink="/user/forgot-password"
              >¿Olvidaste tu contraseña?</a
            >
          </label>
        </div>
      </div>
      <div class="form-field pt-5">
        <div class="form-control justify-between">
          <button
            type="submit"
            class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-6 py-2.5 text-center mr-2 w-full"
          >
            {{ title }}
          </button>
        </div>
      </div>

      <div class="form-field">
        <div class="form-control">
          <a
            class="link link-underline-hover link-primary text-sm"
            *ngIf="action === 'signIn'"
            routerLink="/user/sign-up"
            >¿No tenes cuenta? Registrate</a
          >

          <a
            class="link link-underline-hover link-primary text-sm"
            *ngIf="action === 'signUp'"
            routerLink="/user/sign-in"
            >¿Ya tenes cuenta? Inicia sesion</a
          >
        </div>
      </div>
    </div>
  </form>
</section>
